<section class="index-page">
  <p class="success">
    You have been successfully logged out!
  </p>

  <a href="/auth/google" class="loginBtn loginBtn--google">
    Login with Google
  </a>
</section>